--
-- PostgreSQL database dump
--

\restrict dqao8ZvmpgjXHhJGoLeeUo1Pueeg6N0d1ff1VEWodbUmeCpyP9bhZK33fGjntaT

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: empresas; Type: TABLE DATA; Schema: public; Owner: construtivo
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.empresas DISABLE TRIGGER ALL;

INSERT INTO public.empresas (id, razao_social, nome_fantasia, cnpj, ativo, criado_em, atualizado_em) VALUES
	(1, 'JMD Urbanismo LTDA', 'JMD HAMOA', '04.536.786/0001-17', true, '2026-04-13 22:39:32.910621+00', '2026-04-13 22:39:32.910621+00');


ALTER TABLE public.empresas ENABLE TRIGGER ALL;

--
-- Data for Name: obras; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.obras DISABLE TRIGGER ALL;

INSERT INTO public.obras (id, empresa_id, codigo, nome, localizacao, gestor, status, criado_em, atualizado_em, metodologia) VALUES
	(1, 1, 'BR001', 'HAMOA JATAI', 'Jata├¡ GO', 'Jo├úo V├¡tor', 'Conclu├¡do', '2026-04-13 22:40:04.339762+00', '2026-04-13 22:40:04.339762+00', 'gantt'),
	(2, 1, 'BR002', 'HAMOA RIO VERDE', 'Rio Verde', 'Gustavo', 'Em andamento', '2026-04-13 22:40:34.225449+00', '2026-04-13 22:40:34.225449+00', 'lbm');


ALTER TABLE public.obras ENABLE TRIGGER ALL;

--
-- Data for Name: alcadas; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.alcadas DISABLE TRIGGER ALL;



ALTER TABLE public.alcadas ENABLE TRIGGER ALL;

--
-- Data for Name: fornecedores; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.fornecedores DISABLE TRIGGER ALL;

INSERT INTO public.fornecedores (id, razao_social, nome_fantasia, cnpj, tel, email, email_nf, email_assin, endereco, representante, cargo_representante, ativo, criado_em, atualizado_em, cpf_representante, data_nasc_representante) VALUES
	(1, 'FURA SOLO SERVICOS DE FUNDACAO LTDA', 'FURA SOLO', '07.261.151/0001-42', '', 'joao.vitor@jmdurbanismo.com.br', '', '', 'Rua Roberto Marinho, Bairro Industrial e Comercial Eldorado, Sorriso, MT', 'KAIO RAUN TREMEA', 'administrador(a)', true, '2026-04-13 22:42:27.245818+00', '2026-04-23 00:32:24.984869+00', NULL, NULL);


ALTER TABLE public.fornecedores ENABLE TRIGGER ALL;

--
-- Data for Name: contratos; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.contratos DISABLE TRIGGER ALL;



ALTER TABLE public.contratos ENABLE TRIGGER ALL;

--
-- Data for Name: medicoes; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.medicoes DISABLE TRIGGER ALL;



ALTER TABLE public.medicoes ENABLE TRIGGER ALL;

--
-- Data for Name: aprovacoes; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.aprovacoes DISABLE TRIGGER ALL;



ALTER TABLE public.aprovacoes ENABLE TRIGGER ALL;

--
-- Data for Name: cronogramas; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.cronogramas DISABLE TRIGGER ALL;

INSERT INTO public.cronogramas (id, obra_id, nome, versao, arquivo_nome, data_inicio, data_termino, importado_em, importado_por, ativo) VALUES
	(1, 1, 'Cronograma_Padr├úo_Obras_JMD_Hamoa_Jatai_R00_25_03_2026.xml', 1, 'Cronograma_Padr├â┬úo_Obras_JMD_Hamoa_Jatai_R00_25_03_2026.xml', '2023-07-03', '2027-05-04', '2026-04-14 12:08:11.758106+00', 'admin', true);


ALTER TABLE public.cronogramas ENABLE TRIGGER ALL;

--
-- Data for Name: atividades_cronograma; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.atividades_cronograma DISABLE TRIGGER ALL;



ALTER TABLE public.atividades_cronograma ENABLE TRIGGER ALL;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.audit_logs DISABLE TRIGGER ALL;



ALTER TABLE public.audit_logs ENABLE TRIGGER ALL;

--
-- Data for Name: configuracoes; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.configuracoes DISABLE TRIGGER ALL;



ALTER TABLE public.configuracoes ENABLE TRIGGER ALL;

--
-- Data for Name: contrato_itens; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.contrato_itens DISABLE TRIGGER ALL;

INSERT INTO public.contrato_itens (id, contrato_id, ordem, descricao, unidade, qtd_total, valor_unitario, valor_total, criado_em) VALUES
	(3, 1, 0, 'Perfura├º├úo de estacas para funda├º├úo do Muro Trecho 04 e 05', 'm', 50.5000, 22.0000, 1111.00, '2026-04-23 14:59:46.418216+00');


ALTER TABLE public.contrato_itens ENABLE TRIGGER ALL;

--
-- Data for Name: contratos_atividades; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.contratos_atividades DISABLE TRIGGER ALL;

INSERT INTO public.contratos_atividades (id, contrato_id, atividade_id) VALUES
	(6, 1, 5),
	(7, 1, 4211),
	(8, 1, 4214);


ALTER TABLE public.contratos_atividades ENABLE TRIGGER ALL;

--
-- Data for Name: evidencias; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.evidencias DISABLE TRIGGER ALL;



ALTER TABLE public.evidencias ENABLE TRIGGER ALL;

--
-- Data for Name: lbm_locais; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.lbm_locais DISABLE TRIGGER ALL;



ALTER TABLE public.lbm_locais ENABLE TRIGGER ALL;

--
-- Data for Name: lbm_servicos; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.lbm_servicos DISABLE TRIGGER ALL;



ALTER TABLE public.lbm_servicos ENABLE TRIGGER ALL;

--
-- Data for Name: lbm_progresso; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.lbm_progresso DISABLE TRIGGER ALL;



ALTER TABLE public.lbm_progresso ENABLE TRIGGER ALL;

--
-- Data for Name: medicao_itens; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.medicao_itens DISABLE TRIGGER ALL;



ALTER TABLE public.medicao_itens ENABLE TRIGGER ALL;

--
-- Data for Name: portal_nfs; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.portal_nfs DISABLE TRIGGER ALL;



ALTER TABLE public.portal_nfs ENABLE TRIGGER ALL;

--
-- Data for Name: portal_tokens; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.portal_tokens DISABLE TRIGGER ALL;



ALTER TABLE public.portal_tokens ENABLE TRIGGER ALL;

--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: construtivo
--

ALTER TABLE public.usuarios DISABLE TRIGGER ALL;



ALTER TABLE public.usuarios ENABLE TRIGGER ALL;

--
-- Name: alcadas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.alcadas_id_seq', 1, false);


--
-- Name: aprovacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.aprovacoes_id_seq', 67, true);


--
-- Name: atividades_cronograma_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.atividades_cronograma_id_seq', 5172, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 191, true);


--
-- Name: contrato_itens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.contrato_itens_id_seq', 3, true);


--
-- Name: contratos_atividades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.contratos_atividades_id_seq', 8, true);


--
-- Name: contratos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.contratos_id_seq', 1, true);


--
-- Name: cronogramas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.cronogramas_id_seq', 1, true);


--
-- Name: empresas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.empresas_id_seq', 1, true);


--
-- Name: evidencias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.evidencias_id_seq', 1, false);


--
-- Name: fornecedores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.fornecedores_id_seq', 1, true);


--
-- Name: lbm_locais_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.lbm_locais_id_seq', 1, false);


--
-- Name: lbm_progresso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.lbm_progresso_id_seq', 1, false);


--
-- Name: lbm_servicos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.lbm_servicos_id_seq', 1, false);


--
-- Name: medicao_itens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.medicao_itens_id_seq', 16, true);


--
-- Name: medicoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.medicoes_id_seq', 16, true);


--
-- Name: obras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.obras_id_seq', 2, true);


--
-- Name: portal_nfs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.portal_nfs_id_seq', 10, true);


--
-- Name: portal_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.portal_tokens_id_seq', 12, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: construtivo
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 7, true);


--
-- PostgreSQL database dump complete
--

\unrestrict dqao8ZvmpgjXHhJGoLeeUo1Pueeg6N0d1ff1VEWodbUmeCpyP9bhZK33fGjntaT

